// Variables;
$website-width: 1280px;
$main-color: rgb(245, 243, 160);
$light-color: #f4f4f4;
$dark-color:  rgb(177, 179, 180);
$medium-color: rgb(194, 226, 240);
$bg-image: url('../img/showcase.jpg');

